body {
  font-family: "Ubuntu Sans", sans-serif;
  height: 100%;
  background: #eee; 
}

.pull-left {
  float: left;
}

.pull-right {
  float: right
}

.btn {
  background: none repeat scroll 0 0 #009BFD;
  border: 1px solid rgba(0, 0, 0, 0.67);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33) inset, 0 1px 0 rgba(255, 255, 255, 0.33);
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  padding: 3px 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.67);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 100px 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.33);
}

.btn:active {
  box-shadow: 0 100px 0 rgba(0, 0, 0, 0.125) inset, 0 1px 3px rgba(0, 0, 0, 0.67) inset, 0 1px 0 rgba(255, 255, 255, 0.33);
}

.btn.active {
  box-shadow: 0 100px 0 rgba(0, 0, 0, 0.125) inset, 0 1px 3px rgba(0, 0, 0, 0.67) inset, 0 1px 0 rgba(255, 255, 255, 0.33);
}

.btn.disabled {
  opacity: .4;
  cursor: default;
}

.btn.disabled:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33) inset, 0 1px 0 rgba(255, 255, 255, 0.33);
}

.btn.disabled:hover {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.33) inset, 0 1px 0 rgba(255, 255, 255, 0.33);
}

#dashboard-header {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: #444;
  width: 100%;
  border-bottom: 1px solid #222;
  height: 35px;
}

#dashboard-header span#menu:before {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 4px #444, 0 8px #FFFFFF, 0 12px #444, 0 16px #FFFFFF;
  content: "";
  height: 4px;
  position: absolute;
  left: 7px;
  top: 8px;
  width: 30px;
}

#dashboard-header span#menu.active:before, #dashboard-header span#menu.active:hover:before {
  box-shadow: 0 4px #009BFD, 0 8px #FFFFFF, 0 12px #009BFD, 0 16px #FFFFFF;
}

#dashboard-header span#menu:hover:before {
  box-shadow: 0 4px #666, 0 8px #FFFFFF, 0 12px #666, 0 16px #FFFFFF;
}

#dashboard-header span#menu {
  cursor: pointer;
  width: 45px;
  position: absolute;
  height: 35px; 
  border-right: 1px solid #000;
}

#dashboard-header span#menu:after {
  border-left: 1px solid #444;  
}

#dashboard-header span#menu:hover {
  background: #666;
}

#dashboard-header span#menu.active {
  background: #009BFD; 
}

span.down-arrow {
  padding-left: 5px;  
}

#dashboard-header ul#project-select {
  top: 20px;
  left: 50%;
  margin-left: -100px;
  display: none;
  position: absolute;
  width: 200px;
  background: #444;
  z-index: 999;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 0;
  list-style-type: none;
}

ul#project-select li {
  border-top: 1px solid white;
  padding: 15px 15px 10px;
}

ul#project-select li a {
  color: white;
  text-decoration: none;
}

nav#menu-panel {
  height: 100%;
  position: absolute;
  width: 260px;
  left: -260px;
  top: 36px;
  background: #444;
  transition: transform .5s linear;
  z-index: 999;
  color: white;
}

nav#menu-panel.active {
  transform: translateX(260px);
}

nav#menu-panel h2 {
  font-weight: 200;
  margin-left: 30px;
}

nav#menu-panel ul {
  padding: 0;
  list-style: none;
}

nav#menu-panel ul li {
  cursor: pointer;
  width: 200px;
  border-bottom: 1px solid #fff;
  padding: 10px 30px;
  color: white;
}

nav#menu-panel ul li:first-child {
  border-top: 1px solid #fff;
}

nav#menu-panel ul li:hover {
  background: #666;
}

nav#menu-panel ul li.active {
  cursor: default;
  color: #009BFD;
}

nav#menu-panel ul li.disabled {
  cursor: default;
  color: #888;
}

nav#menu-panel ul li.disabled:hover,  nav#menu-panel ul li.active:hover {
  background: #444;
}

div#app {
  min-height: 100%;
  padding-top: 50px;
}

section {
  display: none;
  margin: 0 auto;
  width: 1000px;
}

section#index {
  display: block;
}

section#dashboard {
  height: 100%;
}

section div.logged-out {
  display: none;
}

section div.logged-out h3{
  text-align: center;
}

section div.logged-in {
  display: none;
}

section h2 {
  display: inline;
}

section .section-header {
  width: 100%;
  border-bottom: 1px solid #222;
}

.layouts {
  float: right;
}

.layouts div {
  margin-bottom: 10px;
}

.layouts ul {
  display: inline;
  list-style: none;
  padding: 0;
}

.layouts ul li {
  display: inline;
}

.project-selected {
  display: none;
}

.toggled-layout.tiled .listing {
  width: 300px;
  display: inline-block;
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
}

.toggled-layout.tiled .listing span {
  display: block;
  margin-top: 10px;
}

.toggled-layout.tiled .listing span img {
  display: block;
  width: inherit;
  margin: 0 auto;
  padding-bottom: 10px;
}

.toggled-layout.tiled .listing span.pull-right {
  float: none;
  width: inherit;
  margin: 0 auto;
}

.toggled-layout.tiled .listing .btn {
  margin: -3px;
}

.toggled-layout .list-container a {
  text-decoration: none;
}

.toggled-layout.list .listing {
  margin: 10px 0;
  height: 40px;
}

.toggled-layout.list .listing span {
  padding: 0 20px;
}

.toggled-layout.list .listing .pull-right span {
  position: relative;
  top: 10px;
}

.toggled-layout.list .listing span.name img {
  height: 30px;
  position: relative;
  top: 10px;
  padding-right: 10px;
}

#data span.description {
  font-size: 10px;
  color: #aaa;
}

.drawer {
  position: absolute;
}

.drawer.bottom {
  bottom: 0;
  height: 100px;
}

#tools-drawer {
  left: 0;
}

#data-drawer {
  left: 80px;
}

#tree-drawer {
  left: -150px;
  width: 150px;
  transition: 
}

#tree-drawer.active {
  transform: translateX(150px);
}

#tree-drawer ul {
  list-style: none;
  font-size: 10px;
  padding: 0;
}

#tree-drawer .toggle {
  transform: rotate(90degrees);
}

.toggle {
  border: 1px solid #222;
  border-bottom: none;
  padding: 0 10px;
}

.pull-center {
  position: absolute;
  left: 50%; 
  margin-left: -110px;
  text-align: center;
  top: 10px;
}


#current-project {
  font-size: 12px;
  line-height: 14px;
}

#logo {
  font-weight: 700;
  padding-left: 40px;
}

#logo:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAACW0lEQVR42ryWX2jOYRTHt5GirdVYTG3UJkLN/MsYckGJC1yJKbmREisRFwopUsoSccUFciMXblys/Btb8zcrZG+R/ImRGbaSvD5PfX9vZ8fv/b3vmzj16Xmf8/w573POc87vKU6n00X/WobnM+lrb6qeZgFMgvKggh7oKKusu59rfXH/h56k8U2wDeoT5jyB43CqUCMT4QI0FuCVB9AMT41uBqwriZncAM8KNBBkpk61UP3tcAe++ZiMhbswzOnfwWW4B31QBrNgFdS4uTfhGtTCMmj37uqG6W7RfjgIP7OcYDcccroBGA9fQse6a32MgTWwL8FAkMOw0ulGKT5/BP6FAh5J+Pd784hFHZyHaqgy+k8wxp5kqjPwMYuBCsWiQv0N8DDki2LwyswdDfOtkaVus3MxBjbCawU/tLfhKKyFFhiEM27NEpvxU9xgp+uPg9MwQv2RME+nemTmdbh11fYkpW7ws+tPNgYiKVGJsdIXcwEyRr67wfIYo7+c7gekcqwbtEaeu8G55vcKaIOuaJHazfAmYV2RYpcx0uYGm+WeY3ARdqjMTIDZas9muRxWbtjAP4a3ytIo0C+lazBu6RVxskXXOJJ+lZghGe/zokrZnsojIRfBSac7YG9IJJdCxXQTr8CuHAa2Rm4x8l45NKSsNKo0hIxdHLNRSn+iU24oVZBXq1p4maaynzGyU5V2D7RCE9z6i0/6crjqE6pSNaZVunZV4+4CNw9pMMcbyOcb3yKf1ybMCS4+AUeyfuPzeRLxWmlSrapRPAa0eRevles5Xyv/4931W4ABAHD5k83VXALJAAAAAElFTkSuQmCC") no-repeat scroll 0 0;
  height: 25px;
  width: 25px;
  content: "";
  position: absolute;
  left: 10px;
  top: -5px;
}