.histogram div svg
  height: 500px
  width: 700px

  .bar rect
    fill: steelblue
    shape-rendering: crispEdges
    stroke: #000

  .bar text
    fill: #fff

  .axis path, .axis line
    shape-rendering: crispEdges;
    stroke: #000
    fill: none 