*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


body
  margin: 0
  padding: 0
  overflow: scroll

#ubret
  width 100%

  .dashboard
    margin-bottom 80px
    &:before,&:after
      content: ''
      display: table
    &:after
      clear: both

    .tools
      padding 10px

      .window
        position: relative
        float: left
        min-width: 360px
        background: rgba(255, 255, 255, 1)
        border: 1px $gray1 solid
        border-radius: 3px
        box-shadow(6px 6px 10px #ababab)
        padding-top: 20px

        .settings
          position: absolute 
          z-index: 1
          right: 10px
          top: 20%

        .tool
          position: relative
          z-index: 2
          background: rgba(255, 255, 255, 1)
          padding: 10px
          min-height: 200px

        .window-controls
          position: absolute
          top: 0
          left: 0
          width: 100%
          background: #f6f6f6
          border-bottom: 1px solid #ccc
          z-index: 2

          ul
            display: inline
            padding: 0 0 0 10px

            li
              display: inline
              padding-right: 20px

      .window.settings-active

        .settings
          right: -290px
          display: block

  .toolbox
    border-top 1px $black solid
    background-color $white
    width 100%
    margin 0
    position fixed
    bottom 0
    left 0

    .tool
      float left
      margin 6px
      padding 6px

    .action
      float: right
      margin: 6px
      padding: 6px
