*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


body
  margin: 0
  padding: 0
  overflow: scroll

#ubret
  width 100%

  .dashboard
    margin-bottom 80px
    &:before,&:after
      content: ''
      display: table
    &:after
      clear: both

    .tools
      padding 10px

      .window
        position: relative
        float: left
        min-width: 233px
        padding: 20px 10px 10px
        margin: 10px
        background: rgba(255, 255, 255, 0.92)
        border: 1px $gray1 solid
        box-shadow(0 0 10px #666)

        .settings
          display: none

        .tool
          display: block 

        .window-controls
          position: absolute
          top: 0
          left: 0
          width: 100%
          background: #f6f6f6
          border-bottom: 1px solid #ccc

          ul
            display: inline
            padding: 0 0 0 10px

            li
              display: inline
              padding-right: 20px

      .window.settings-active

        .settings
          display: block

        .tool
          display: none

  .toolbox
    border-top 1px $black solid
    background-color $white
    width 100%
    margin 0
    position fixed
    bottom 0
    left 0

    .tool
      float left
      margin 6px
      padding 6px

    .action
      float: right
      margin: 6px
      padding: 6px
