*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#ubret
  width 100%

  .dashboard
    margin-bottom 140px

    .tools
      padding 10px

      .window
        position: relative
        display: inline-block
        min-width: 200px
        padding: 20px 10px 10px
        margin: 10px
        background: #fff
        border: 1px $gray1 solid
        box-shadow(2px 2px 2px $gray3)

        .settings
          display: none

        .tool
          display: block 

        .window-controls
          position: absolute
          visibility: hidden
          top: 0
          left: 0
          width: 100%
          background: #f6f6f6
          border-bottom: 1px solid #ccc

          ul
            display: inline

            li
              display: inline
              padding-right: 20px


      .window:hover .window-controls
        visibility: visible

      .window.settings-active

        .settings
          display: block

        .tool
          display: none

  .toolbox
    border-top 1px $black solid
    background-color $white
    width 100%
    margin 0
    position fixed
    bottom 0
    left 0

    .tool
      float left
      margin 6px
      padding 6px

    .action
      float: right
      margin: 6px
      padding: 6px
