.settings
  border-right: 1px solid $gray1
  transition()

  label
    display: block
    font-size: 12px

  input, select
    -webkit-appearance: none
    -moz-appearance: none
    -o-appearance: none
    appearance: none 
    margin-bottom: 5px
    font-size: 12px

  .source-data-box, .data-points, .submit
    display: none

  .source-choices
    height: 24px
    border: 1px solid #ccc
    font-size: 13px
    padding: 3px 5px

  h2
    font-size: 14px
    font-weight: 700

  .data-sources
    padding: 3px
    border-bottom: 1px solid #ccc
    list-style: none

    &:before, &:after
      content: ' '
      display: table
    &:after
      clear: both

    li
      width: 100px
      margin: 0 10px 0 0
      border: 1px solid #ccc
      text-align: center
      padding: 6px
      border-radius: 3px 3px 0 0
      display: inline
      font-size: 12px

      &:hover
        background: #fafafa
        border: 1px solid #900
        cursor: pointer

      &.selected
        border-bottom: 1px solid #fff

  .tools-options
    display: none
