.axis path, .axis line
  fill none
  stroke #505050
  stroke-width 1px
  shape-rendering crispEdges

.x.axis path
  display none
  
.line
  fill none
  stroke steelBlue
  stroke-width 0.25px

.best-fit
  stroke #CD3E20