.subjectviewer
  clearfix()
  padding: 0 !important
  img
    float: left
    max-width: 240px

  ul
    margin: 0 0 0 260px
    padding: 10px

  .nav
    clearfix()
    width: 100%
    border-bottom: 1px solid #ccc
    unselectable()
    a
      float: left
      width: 50%
      padding: 2px 0
      background: #efefef
      text-align: center
      &:hover
        background: #e0e0f0