$light-gray = #f3f3f3
$mid-gray = #b0b0b0
$blue = #99ccff

$tb-border-color-1 = $blue
$tb-border-color-2 = $mid-gray
$tb-box-shadow = $mid-gray
$tb-box-shadow-inset = $light-gray
$tb-button-bg = $blue
$tb-text-color = #000
$gutter-size = 20px
$tb-button-text-shadow = $mid-gray
$tb-background = $light-gray
$tb-bottom-border = $mid-gray

transform(t)
  -webkit-transform: t
  -moz-transform: t
  transform: t

transition-transform(t, a)
  -webkit-transition: -webkit-transform t a
  -moz-transition: -moz-transform t a
  transition: transform t a

.unselectable
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
