$light-gray = #f3f3f3
$mid-gray = #b0b0b0
$blue = #99ccff

$tb-border-color-1 = $blue
$tb-border-color-2 = $mid-gray
$tb-box-shadow = $mid-gray
$tb-box-shadow-inset = $light-gray
$tb-button-bg = $blue
$tb-text-color = #000
$gutter-size = 20px
$tb-button-text-shadow = $mid-gray
$tb-background = $light-gray
$tb-bottom-border = $mid-gray

transform(t)
  -webkit-transform: t
  -moz-transform: t
  transform: t

transition-transform(t, a)
  -webkit-transition: -webkit-transform t a
  -moz-transition: -moz-transform t a
  transition: transform t a

.unselectable
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none


// Zoo Common Styles
$black = #000;
$white = #fff;

$gray-dark = hsl(0, 0, 20%);
$gray-less-dark = hsl(0, 0, 33%);
$gray = hsl(0, 0, 67%)
$gray-less-light = hsl(0, 0, 84%);
$gray-light = hsl(0, 0, 93%);
$gray-more-light = hsl(0, 0, 96%);

$blue = rgba(0, 155, 253, 1);

#block-header {
  border-bottom: 2px solid $gray-dark;
  font-size: 20px;
}


// Button Styles
#standard-button {
  background: $gray-more-light;
  border: 1px solid $gray-less-light;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba($black, 0.10);
  color: $gray-dark;
  font-size: 0.9em
  font-weight: bold;
  margin: 0 2px;
  padding: 3px 10px;
  text-align: center;
  text-shadow: 0 1px 0 $white;
  text-decoration: none;
  
  &:disabled {
    background-color: $gray-less-light;
    color: $gray;
    cursor: auto;
  }
  
  &:hover {
    border-color: rgba($black, 0.67);
  }
  
  &:hover:disabled {
    border-color: rgba($black, 0.33);
  }
  
  &:active,
  &.selected {
    box-shadow: 0 100px 0 rgba($black, 0.1) inset, 0 1px 3px rgba($black, 0.25) inset;
  }
  
  &:active:disabled,
  &.selected:disabled {
    box-shadow: 0 1px 0 rgba($white, 0.75) inset;
  }
}

#choice-button {
  background: $gray;
  border: 1px solid $black;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba($white, 0.33) inset, 0 1px 2px rgba($black, 0.33);
  color: $black;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 0;
  text-align: center;

  &.on {
    background: hsl(0, 0, 45%);
    box-shadow: 0 1px 1px rgba($black, 0.45) inset, 0 1px 1px rgba($white, 0.30);
  }

  &.full {
    width: 100%;
  }
}

#bold-button {
  background: $blue;
  border: 1px solid rgba($black, 0.67);
  border-radius: 15px;
  box-shadow: 0 1px 0 rgba($white, 0.33) inset, 0 1px 0 rgba($white, 0.33);
  color: $white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.25em;
  padding: 3px 15px;
  text-shadow: 0 1px 0 rgba($black, 0.67);

  &:hover {
    box-shadow: 0 100px 0 rgba($white, 0.125) inset, 0 1px 0 rgba($white, 0.33);
    text-decoration: none;
  }

  &:active {
    box-shadow: 0 100px 0 rgba($black, 0.125) inset, 0 1px 3px rgba($black, 0.67) inset, 0 1px 0 rgba($white, 0.33);
  }
}


// Border Styles
#rule-below {
  position: relative;

  &:after {
    border-bottom: 1px solid $white;
    border-top: 1px solid rgba($black, 0.125);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}

#rule-left {
  position: relative;

  &:before {
    border-right: 1px solid $white;
    border-left: 1px solid rgba($black, 0.125);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
  }
}


// "Grid"
.columns {
  clearfix();

  .column {
    box-sizing: border-box;
    float: left;
    padding-left: 2px;

    &:first-child {
      padding-left: 0;
    }

    &.one-quarter {width: 25%;}
    &.one-half {width: 50%;}
    &.three-quarters {width: 75%;}
  }
}


// List Styles
#semantic-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1000px;
}


