@import "common"

.create-dashboard select, .create-dashboard input, .create-dashboard button {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.create-dashboard button.create-dashboard-go {
  padding: 5px;
  background: #333;
  color: #fff;
  border: none;
  font-size: 20px;
}

.create-dashboard button.create-dashboard-go:hover {
  background: $hoverGray;
}

.create-dashboard button.create-dashboard-go:active {
  background: $hoverGray
}

.create-dashboard {
  width: 300px;
}
