.toolbox
  height: 50px
  @extends .container

  ul
    height: inherit
    list-style: none
    padding: 0

    li
      padding: 16px
      display: inline
      height: inherit
      border-right: 1px solid $mid-gray

      a
        text-decoration: none
       
  ul.tools
    float: left

  ul.interactions
    float: right

    li:first-child
      border-left: 1px solid $mid-gray

.index
  text-align: center
  margin: 0 auto
  display: inline-block
  border: 1px solid $mid-gray
  padding: 30px
  top: 40%
  left: 35%

.saved-list
  display: none

  &.active
    display: block


