.dialog
   background: none repeat scroll 0 0 rgba(40, 40, 40, 0.3);
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 9999;

  .dashboard-dialog
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    height: 170px;
    margin: 0 auto;
    position: relative;
    top: 30%;
    width: 300px;

    .dialog-header
      background: $gray-dark
      box-sizing: border-box
      color: $white
      height: 25px
      font-weight: 700
      line-height: 25px
      padding: 0 9px
      position: absolute
      top: 0
      width: 100%
      z-index: 3

      span
        cursor: pointer
        float: left
        height: 100%
        padding: 0 3px

        &.window-close
          background: url(../images/close-toggle.png) no-repeat 2px 8px
          width: 10px

        &.window-title
          padding: 0 5px

    .dialog-content
      border-bottom: 1px solid black 
      padding-top: 30px
      padding: 20px
      
      form
        div
         padding-top: 20px 
      
      input
        width: 150px

      select, input
        float: right
        position: relative
        top: -5px

      label
        display: inline

    .dialog-footer
      padding: 20px

      button
        @extends #standard-button

      button.close
        float: left

      button.new-dashboard
        float: right


      
