@import 'common'

.examine-mode

  .tools
    overflow-x: auto;
    width: inherit

    .container
      padding: 20px
      border: 1px solid $mainBlack
      background: $panelWhite
      overflow: hidden;


      .tool
        height: inherit
        width: inherit
        color: $mainBlack
