@import 'common'

.examine-mode

  .tools
    width: inherit
    position: relative
    left: -50px

    .container
      padding: 30px
      padding-top: 10px
      border: 1px solid $mainBlack
      background: $panelWhite
      overflow: hidden
      color: $mainBlack
      margin: 25px
      float: left
      text-align: left

      h2
        text-align: center

      .tool
        height: inherit
        width: inherit
