@import "common"

#dashboard-header
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  color: $panelWhite;
  background: $mainBlack;
  width: 100%;
  border-bottom: 1px solid $standardGray; 
  height: 40px;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;

  span.menu
    cursor: pointe
    width: 45px;
    position: absolute;
    height: 40px; 
    border-right: 1px solid $hoverGray;
    left: 0;
    top: 0;

    img
      margin: 8px

    &#tool-menu
      left: 45px;

    &#examine
      left: 90px

    &#zoom-in
      left: 135px

      img
        margin: 12px

    &#zoom-out
      left: 180px

      img
        margin: 12px

    &.active:hover
      background: $hoverBlue; 

    &:after
      border-left: 1px solid $mainBlack;

    &:hover
      background: $hoverGray;

    &.active
      background: $standardBlue; 

    &#menu
      &:before
        background: none repeat scroll 0 0 $panelWhite;
        box-shadow: 0 4px $mainBlack, 0 8px $panelWhite, 0 12px $mainBlack, 0 16px $panelWhite;
        content: "";
        height: 4px;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 25px;

      &.active:before 
        box-shadow: 0 4px $standardBlue, 0 8px $panelWhite, 0 12px $standardBlue, 0 16px $panelWhite;

      &.active:hover:before
        box-shadow: 0 4px $hoverBlue, 0 8px $panelWhite, 0 12px $hoverBlue, 0 16px $panelWhite;

      &:hover:before
        box-shadow: 0 4px $hoverGray, 0 8px $panelWhite, 0 12px $hoverGray, 0 16px $panelWhite;

  .pull-center
    display: inline-block
    text-align: center
    font-size: 18px
    font-weight: 300
