@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,400italic,700|Open+Sans+Condensed:700,300)')

@import 'common'
@import 'dashboard'
@import 'tools'
@import 'tool_window'
@import 'settings'

body
  overflow: hidden
  background: #fafafa
  font-family: 'Open Sans'
