@import "common"

nav.menu-panel 
  height: 100%;
  position: fixed;
  width: 260px;
  left: -260px;
  top: 36px;
  background: $mainBlack;
  transition: transform .5s ease-in-out;
  z-index: 999;
  color: white;

  &.active 
    transform: translateX(260px)

  h2 
    font-weight: 200;
    margin-left: 30px;

  ul 
    padding: 0;
    list-style: none;

  ul li 
    cursor: pointer;
    width: 200px;
    border-bottom: 1px solid $panelWhite;
    padding: 10px 30px;
    color: white;

  ul li:first-child 
    border-top: 1px solid $panelWhite;

  ul li:hover 
    background: $standardGray;
    color: $hoverBlue;

  ul li.active 
    cursor: default;
    color: $standardBlue;

  ul li.disabled 
    cursor: default;
    color: #888;

  ul li.disabled:hover, ul li.active:hover 
    background: $mainBlack;
