.my-data-page
  overflow-y: scroll
  padding: 30px

  .favorites, .recents
    a 
      float: right
      @extends #standard-button

  .favorites, .recents, .collections
    .my-data-list
      display: inline-block

    .my-data-subject
      float: left
      padding-right: 30px
      padding-bottom: 30px

      a 
        display: block
        margin-top: 5px
        @extends #standard-button

