$settings-bg-color = rgba(200,200,200,0.92)

.settings
  position: absolute
  overflow-y: auto
  right: 0
  width: 200px
  height: 100%
  padding: 0 8px
  z-index: 2
  background: $settings-bg-color
  border-left: 1px solid $mid-gray
  transform(translateX(210px))
  transition-transform(0.3s, cubic-bezier(0.0, 0.0, 0.35, 1.0))
  &.active
    transform(translateX(0))

  h3
    margin-top: 0

  .data-settings
    ul
      list-style: none

    .params
      > div
        padding: 5px 0

    .range
      .value
        position: absolute
        bottom: 3px
        width: 100%
        font-size: 0.9em
        text-align: center

      .track
        position: relative
        height: 30px
        border-bottom: 1px solid #c0c0c0
        span
          position: absolute
          bottom: -6px
          width: 10px
          height: 10px
          z-index: 1
          background: #900
          border-radius: 10px
          cursor: pointer
        .min, .max
          position: absolute
          bottom: 3px
          z-index: 1
          color: #666
          font-size: 0.8em
        .min
          left: 0
        .max
          right: 0
