
.settings
  background: $gray-dark-transparent
  border-left: 1px solid $black
  box-sizing: border-box
  color: $white
  height: 100%
  font-weight: 700
  position: absolute
  right: -234px
  top: 0
  transition: all 0.4s cubic-bezier(0.0, 0.0, 0.35, 1.0)
  width: 234px
  z-index: 4
  padding-top: 25px

  .settings-group
    height: inherit
    padding-left: 29px
    padding-right: 29px
    overflow-y: auto


  button
    &.action
      border-radius: 3px
      @extends #bold-button
    &.block
      display: block
    &.spectra
      color: white 
      margin-bottom: 5px
      &.emissions
        background: red
      &.flux
        background: black
      &.best-fit
        background: blue    
      
      
      
      
  .toggle
    background: url(../images/settings-toggle.png) no-repeat 4px 4px
    cursor: pointer
    height: 16px
    left: -24px
    position: absolute
    transform: rotate(180deg)
    transition: all 0.4s cubic-bezier(0.0, 0.0, 0.35, 1.0)
    top: 4px
    width: 20px

  .title-bar-icon
    cursor: pointer
    height: 16px
    position: absolute
    top: 4px
    width: 20px

    &.prev
      left: -45px

    &.next
      left: -32px

  &.active
    right: 0
    .toggle
      left: 4px
      transform: rotate(0)

    .prev
      left: -28px

    .next
      left: -15px

  input
    width: 100px

  ul
    @extends #semantic-list
    @extends section
    li
      button
        @extends #choice-button

  .data-settings

    .type-select, .sources
      @extends section

    .params
      > div
        padding: 5px 0

    label
      line-height: 2.2em

    select
      appearance: none
      background: $black url(../images/select-arrow.png) no-repeat right center
      border: 0
      border-radius: 0
      box-sizing: border-box
      color: $white
      font-weight: 700
      margin: 0
      padding: 5px 10px
      width: 100%

    .range
      $range-base = 10px
      .value
        position: absolute
        bottom: $range-base + 6
        width: 100%
        font-size: 0.9em
        text-align: center
        text-shadow: 0 1px 1px $black

      .track
        position: relative
        height: 30px
        &:after
          border-bottom: 1px solid $gray-less-dark
          border-top: 1px solid $black
          content: ''
          bottom: $range-base
          position: absolute
          width: 175px
        span
          background: $blue
          border: 1px solid $black
          border-radius: 10px
          bottom: $range-base - 4
          box-shadow: 0 1px 2px darken($gray-dark, 20%)
          cursor: pointer
          height: 8px
          width: 8px
          position: absolute
          z-index: 1
        .min, .max
          bottom: $range-base + 9
          color: $black
          font-size: 0.8em
          position: absolute
          text-shadow: 0 1px 1px $gray-less-dark
          z-index: 1
        .min
          left: 0
        .max
          right: 0
