.zooniverse-window, .data-source-window

  button
    border-radius: 3px 
    margin-top: 5px
    width: 49%
    @extends #bold-button

  .container
    height: inherit 
    overflow: hidden 

    .id-list
      height: inherit
      overflow-y: scroll
      display: block
      width: 100%

      ul
        list-style: none
        margin: 0
        padding: 0
        margin-bottom: 25px

        li
          width: 100%
          padding: 5px 10px
          border-bottom: 1px solid black
          margin: 0

          a
            color: black

          &.selected
            background-color: $blue

        &:last-child
          border-bottom: none

          .remove
            float: right 
            padding-right: 20px

  .settings
    width: 300px 
    right: -300px

    .settings-group
      padding: 0

    &.active
      right: 0

    .sources
      height: inherit
      padding: 10px
      color: $white

      ul
        margin: 0
        @extends #button-row

      h4
        margin-top: 0
        margin-bottom: 5px

      h5
        margin: 5px 0 5px 0
      .controls
        display: block

      div
        display: none

      label
        display: block 
        margin-bottom: 5px

        label
          display: inline
          float: right

      input[type="text"]
        width: 150px

      input[type="range"]
        display: block
        width: 100%

      .active
        display: block

.data-source-window
	.container
		overflow-y: auto	

	.options
    max-width: 350px 
    padding: 10px 10px 35px	
		.params
      > div
        padding: 5px 0

      .value
        float: right

    label
      line-height: 2.2em

    select
      border: 0
      background: $white
      border-radius: 0
      box-sizing: border-box
      font-weight: 700
      margin: 0
      padding: 5px 10px
