
.spacewarp-viewer-settings
  font-size 13px
  
  .bands
    position relative
    
    input[type='radio']
      display none
      &:checked + label
        background: hsl(0, 0, 45%);
        box-shadow: 0 1px 1px rgba($black, 0.45) inset, 0 1px 1px rgba($white, 0.30);
        
    label
      @extends #choice-button
      padding 4px 8px
      display inline-block
      cursor pointer
    
    span
      color red
      cursor pointer
      
  .parameters
    display none
    
    .subtitle
      position relative
      
      p
        font-size 12px
        text-shadow 0 1px 0 $gray
        font-weight 200
        
    .stretchfn
      margin-bottom 20px
      
      input[type='radio']
        display none
        &:checked + label
          background: hsl(0, 0, 45%);
          box-shadow: 0 1px 1px rgba($black, 0.45) inset, 0 1px 1px rgba($white, 0.30);
          
      label
        @extends #choice-button
        padding 4px 8px
        display inline-block
        font-size 11px
        text-transform lowercase
        cursor pointer
        
    input[type='range']
      clear both
      width 100%
      display block
      margin-bottom 10px
      
      // Edit display to show parameter value on slide
      &:active + .parameter
        display none
  
  .color
    display block
    
  .parameter
    display none
    position absolute
    width 70px
    height 25px
    background $gray-light
    opacity 0.8
    border-radius 4px
    font-size 11px
    text-align center
    padding-top 8px
    font-weight 700
