.tool-window
  position: absolute
  display: inline-block
  box-shadow: 0 0 13px #444
  background: #fff
  overflow: hidden
  border-radius: 3px

  .title-bar
    position: relative 
    top: 0
    left: 0
    background: $mid-gray
    width: inherit
    z-index: 3
    height: 20px

    span
      padding: 0 3px
      cursor: pointer

    input
      display: none
      
  .settings
    display: inline-block
    position: absolute
    right: 0
    width: 200px
    padding: 5px
    z-index: 2
    border-left: 1px solid $mid-gray
    background: darken(rgba(255,255,255,0.8), 17%)
    transform(translateX(210px))
    transition-transform(0.3s, cubic-bezier(0.0, 0.0, 0.35, 1.0))

  .tool-container
    z-index: 1
    position: absolute 
    background: #fff
    display: inline-block
    float: left
    overflow: auto

  &.settings-active
    .settings
      transform(translateX(0))

  &.unselectable
    -moz-user-select: -moz-none
    -khtml-user-select: none
    -webskit-user-select: none
    -ms-user-select: none
    user-select: none
