.ubret-tool
  h2
    margin-top: 0

  table
    border-collapse: collapse
    font-size: 12px
    border: 1px solid $mid-gray 
    padding 5px

    td, th
      padding 5px
      border: 1px solid $mid-gray

    .selected
      background-color: $blue

    td
      overflow: hidden
      max-width: 200px

