.tool-window
  position: absolute
  display: inline-block
  box-shadow: 0 0 13px #444
  background: #fff
  overflow: hidden
  border-radius: 3px

  .title-bar
    position: relative 
    top: 0
    left: 0
    background: $mid-gray
    width: inherit
    z-index: 2
    height: 20px

    input
      display: none
      
  .settings
    width: 200px
    position: absolute 
    border-right: 1px solid $light-gray
    z-index: 1
    padding: 5px
    background: #fff
    float: left
    display: inline-block
    transform(translateX(-210px))
    transition-transform(0.5s, ease-in-out)

  .tool-container
    z-index: 1
    padding: 5px
    position: absolute 
    background: #fff
    display: inline-block
    float: left
    transform(translateX(0))
    transition-transform(0.5s, ease-in-out)

  &.settings-active
    .settings
      transform(translateX(0))

    .tool-container
      transform(translateX(215px))

  &.unselectable
    -moz-user-select: -moz-none
    -khtml-user-select: none
    -webskit-user-select: none
    -ms-user-select: none
    user-select: none
