.ubret-tool
  h2
    margin-top: 0

  table
    border-collapse: collapse
    font-size: 12px
    border: 1px solid $mid-gray 
    padding 5px

    td, th
      padding 5px
      border: 1px solid $mid-gray

    .selected
      background-color: $blue

    td
      overflow: hidden
      max-width: 200px

  .histogram
    width: inherit
    height: inherit

    svg
      .bar rect
        shape-rendering: crispEdges

      .bar text
        fill: white

      .axis path, .axis line
        shape-rendering: crispEdges
        stroke: black
        fill: none

  svg
    .axis
      path
        shape-rendering: crispEdges
        stroke: black
        fill: none
      text
        font-size: 14px
    text.label
      font-weight: 700

  .tooltip
    display: inline-block
    padding: 10px
    background: #fff
    border-radius: 3px
    box-shadow: 0 0 6px #000
    font-size: 12px
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        clearfix()
        label
          float: left
          padding: 0 7px 0 0
          font-weight: 700
        span

