$title-bar-vertical-padding = 0
$title-bar-height = 25px

.tool-window
  background: #fff
  border: 1px solid $white
  border-radius: 3px
  box-shadow: 0 2px 8px $gray-less-light
  min-height: 150px
  min-width: 300px
  position: absolute

  &.minimized
    height: $title-bar-height !important
    min-height: 0
    
    .window-min
      background-position: -29px 4px !important

  .window
    position: relative
    width: 100%
    height: 100%
    overflow: hidden


    .title-bar
      background: $gray-dark
      box-sizing: border-box
      color: $white
      height: $title-bar-height
      font-weight: 700
      line-height: $title-bar-height
      padding: 0 9px
      position: absolute
      top: 0
      width: 100%
      z-index: 3

      span
        cursor: pointer
        float: left
        height: 100%
        padding: 0 3px

        &.window-min
          background: url(../images/minimize-toggle.png) no-repeat -7px 4px
          transition: all 0.4s cubic-bezier(0.0, 0.0, 0.35, 1.0)
          width: 10px

        &.window-close
          background: url(../images/close-toggle.png) no-repeat 2px 8px
          width: 10px

        &.window-title
          padding: 0 5px

        &.link
          background: url(../images/link.png) no-repeat 2px 
          color: $blue
          margin-left: 2px
          padding-left: 30px

        &.window-loading
          background: url(../images/ajax-loader.gif) no-repeat
          width: 20px

      input
        display: none
      
  .tool-container
    position: absolute
    top: $title-bar-height + ($title-bar-vertical-padding * 2)
    width: inherit
    overflow-x: auto

  .resize
    position: absolute
    $size = 8px
    &.corner
      width: $size
      height: $size
      z-index: 5
      &.top.left
        cursor: nw-resize
      &.top.right
        cursor: ne-resize
      &.bottom.right
        cursor: se-resize
      &.bottom.left
        cursor: sw-resize

    &.bar
      z-index: 4
      &.top
        cursor: n-resize
      &.right
        cursor: e-resize
      &.bottom
        cursor: s-resize
      &.left
        cursor: w-resize

    &.top
      top: -($size / 2)
      height: $size
      &.bar
        width: 100%

    &.bottom
      bottom: -($size / 2)
      height: $size
      &.bar
        width: 100%

    &.right
      right: -($size / 2)
      width: $size
      &.bar
        top: 0
        height: 100%

    &.left
      left: -($size / 2)
      width: $size
      &.bar
        top: 0
        height: 100%

