@import "common"

.window
  display: inline-block;
  margin: 0 20px;
  border: 1px solid $standardGray;
  padding: 20px;
  background: $panelWhite;

  .title-bar
    background: $mainBlack
    color: $panelWhite;

  &.new-tool-chain
    background: $standardGray;
    color: $panelWhite;
    text-align: center;
    cursor: pointer;

    &:hover
      background: $hoverGray;
