<!Doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Zooniverse Dashboard</title>
    <!-- REMOVE IN BUILD PROCESS -->
    <link href="/bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/css/top-bar.css" rel="stylesheet" type="text/css">
    <link href="/css/dialog.css" rel="stylesheet" type="text/css">
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css">
    <!-- END REMOVE -->
    <!-- Templates -->
    <script id="dashboard-list-template" type="text/html">
      <span class="name">
        <a href="#/<%= get('project') %>/dashboards/<%= id %>">
          <img src="img/dashboard-preview.png">
          <%= get('name') %>
        </a>
      </span>
      <span class="pull-right">
        <span class="last-modified">Last Update: <%= getFormattedDate('updated_at') %></span>
        <span class="controls">
          <a class="btn" href="#/<%= get('project') %>/dashboards/<%= id %>/children">Children</a>
          <a class="btn <%= (get('parent_id')) ? '' : 'disabled' %>" href="#/<%= get('project') %>/dashboards/<%= get('parent_id') %>/">Parent</a>
          <a data-id="<%= id %>" class="delete btn">Delete</a>
          <a data-id="<$= id %>" class="share btn">Share</a>
        </span>
      </span>
    </script>

    <script id="data-list-template" type="text/html">
      <span class="name">
        <img src="<%= get('thumbnail') %>">
        <%= get('title') %>
      </span>
      <span class="pull-right">
        <span class="description"><%= get('description') %></span>
        <span class="controls">
          <a class="btn add">Add to Current</a>
          <a class="btn new">Create New with Data</a>
        </span>
      </span>
    </script>

    <script id="new-dashboard" type="text/html">
      <h2>Start a new Dashboard</h2>
      <form class="create-dashboard">
        <div class="loader"></div>
        <input class="create-dashboard-name" placeholder="Name the Dashboard" type="text">
        <select class="create-dashboard-project"></select>
        <select class="create-dashboard-data"></select>
        <button class="create-dashboard-go">Create Dashboard</button>
      </form>
    </script>

    <script id="welcome-overlay" type="text/html">
      <a href="/#/<%= project %>/dashboards">I know what to do!</a>
      <h1 class="half">Welcome to <span class="light">zoo</span>tools!</h1>
      <div class="pull-left">
        <p class="half"> Welcome to your Dashboard. This is a place for volunteers (such as yourself!) to observe, collect, and analyze data from Zooniverse citizen sciecne projects. Think of it as a more advance toolset than what is offered in a regular Zooniverse Project</p>
      </div>
      <div class="no-project">
        <h2> To Get Started Select a Project: </h2>
        <select class="project"></select>
      </div>
      <div class="project-selected">
        <div class="half pull-left">
          <div id="welcome-create"></div>
        </div>

        <div class="half pull-right">
          <h2>Open a recent Dashboard</h2>
          <ul id="welcome-recents">
          </ul>
          <a href="#/<%= project %>/dashboards">View all</a>
        </div>
      </div>
    </script>
  </head>
  <body>
    <header id="dashboard-header">
      <span class="menu" id="menu">
      </span>
      <span id="dashboard-controls">
        <span class="menu" id="tools-menu">
          tools
        </span>
        <span class="menu" id="data-menu">
          data
        </span>
        <span class="menu" id="layout-menu">
          layout
        </span>
      </span>
      <span class="pull-center">
        <span id="logo">
          zootools
          <span id="current-dashboard">
          </span>
        </span>
        <span id="current-project">
          <span class="name">No Project</span>
          <span class="down-arrow">▾</span> 
        </span>
      </span>
      <ul id="project-select">
        <li id="serengeti"><a href="#/serengeti">Snapshot Serengeti</a></li>
        <li id="galaxy_zoo"><a href="#/galaxy_zoo">Galaxy Zoo</a></li>
        <li id="spacewarp"><a href="#/spacewarp">SpaceWarps</a></li>
        <li id="galaxy_zoo_starburst"><a href="#/galaxy_zoo_starburst">Galaxy Zoo Quench</a></li>
      </ul>
    </header>
    <nav id="global-menu" class="menu-panel">
      <div class="panel" data-level="0">
        <h2>ZooTools Nav</h2>
        <ul>
          <li id="new-dashboard">New Dashboard</li>
          <li class="disabled" id="copy-dashboard">Copy Dashboard</li>
          <li class="disabled" id="current-dashboard">Current Dashboard</li>
          <li id="saved-dashboards">Saved Dashboards</li>
          <li id="saved-data">Saved Data</li>
        </ul>
      </div>
    </nav>
    <div id="app">
      <section id="index">
        <div class="logged-out">
          <h3>You need to be logged in to use the ZooTools Dashboard.</h3>
        </div>
        <div class="logged-in">
        </div>
      </section>
      <section id="dashboard"> 
        <ul id="zoom-controls">
          <li><button id="examine" class="btn">ex</button></li>
          <li><button id="zoom-in" class="btn">+</button></li>
          <li><button id="zoom-out" class="btn">-</button></li>
        </ul>
        <div id="data-drawer" class="bottom drawer">
        </div>
        <div id="tools-drawer" class="bottom drawer">
        </div>
        <div id="tree-drawer" class="left drawer">
        </div>
      </section>
      <section id="saved" class="toggled-layout">
        <div class="section-header">
          <h2><span class="name"></span> Dashboards</h2>
          <div class="layouts">
            <label>Layout: </label>
            <ul>
              <li><button class="btn" data-type="list">List</button></li>
              <li><button class="btn" data-type="tiled">Tiled</button></li>
            </ul>
          </div>
        </div>
        <div class="logged-out">
          <h3>You need to be logged in to view Saved Dashboards.</h3>
        </div>
        <div class="logged-in">
          <div class="list-container"></div>
        </div>
      </section>
      <section id="data" class="toggled-layout">
        <div class="section-header">
          <h2><span class="name"></span> Data</h2>
          <div class="layouts">
            <label>Layout: </label>
            <ul>
              <li><button data-type="list" class="btn">List</button></li>
              <li><button data-type="tiled" class="btn">Tiled</button></li>
            </ul>
          </div>
        </div>
        <div class="logged-out">
          <h3>You need to be logged in to view your Data.</h3>
        </div>
        <div class="logged-in">
          <div class="list-container"></div>
        </div>
      </section>
    </div>

    <!-- REMOVE IN BUILD PROCESS -->
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/bower_components/backbone-associations/backbone-associations.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/vendor/base64.js"></script>
    <script src="/vendor/zooniverse-2013-6-20-14-35-16.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/tools.js"></script>
    <script src="/js/dashboards.js"></script>
    <script src="/js/common_views.js"></script>
    <script src="/js/list_views.js"></script>
    <script src="/js/dashboard_views.js"></script>
    <script src="/js/index_views.js"></script>
    <script src="/js/app_views.js"></script>
    <script src="/js/init.js" onload="initialize();"></script>
    <!-- END REMOVE -->
  </body>
</html>