<!Doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Zooniverse Dashboard</title>
    <!-- REMOVE IN BUILD PROCESS -->
    <link href="/css/top-bar.css" rel="stylesheet" type="text/css">
    <link href="/css/dialog.css" rel="stylesheet" type="text/css">
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css">
    <!-- END REMOVE -->
    <!-- Templates -->
    <script id="dashboard-list-template" type="text/html">
      <span class="name">
        <a href="<%= get('project') %>/dashboards/<%= id %>">
          <img src="/img/dashboard-preview.png">
          <%= get('name') %>
        </a>
      </span>
      <span class="pull-right">
        <span class="last-modified">Last Update: <%= getFormattedDate('updated_at') %></span>
        <span class="controls">
          <a class="btn" href="<%= get('project') %>/dashboards/<%= id %>/children">Children</a>
          <a class="btn <%= (get('parent_id')) ? '' : 'disabled' %>" href="<%= get('project') %>/dashboards/<%= get('parent_id') %>/">Parent</a>
          <a class="delete btn">Delete</a>
          <a class="share btn">Share</a>
        </span>
      </span>
    </script>

    <script id="data-list-template" type="text/html">
      <span class="name">
        <img src="<%= get('thumbnail') %>">
        <%= get('title') %>
      </span>
      <span class="pull-right">
        <span class="description"><%= get('description') %></span>
        <span class="controls">
          <a class="btn add">Add to Current</a>
          <a class="btn new">Create New with Data</a>
        </span>
      </span>
    </script>
    
  </head>
  <body>
    <header id="dashboard-header">
      <div id="logo">
        <span class="zooniverse-logo"></span>
        <h1>zootools</h1>
      </div>
      <nav>
        <span class="nav-el" id="current-project">
          <span class="name">No Project</span>
          <span class="down-arrow">▾</span> 
        </span>
        <ul id="project-select">
          <li id="serengeti"><a href="#/serengeti">Snapshot Serengeti</a></li>
          <li id="galaxy_zoo"><a href="#/galaxy_zoo">Galaxy Zoo</a></li>
          <li id="spacewarp"><a href="#/spacewarp">SpaceWarps</a></li>
          <li id="galaxy_zoo_starburst"><a href="#/galaxy_zoo_starburst">Galaxy Zoo Quench</a></li>
        </ul>
        <span class="nav-seperator"></span>
        <span class="nav-el" id="nav-dashboard"><a href="#/dashboards">No Dashboard</a></span>
        <span class="logged-in">
          <span class="nav-seperator"></span>
          <span class="nav-el" id="nav-saved"><a href="#/dashboards">Dashboards</a></span>
          <span class="nav-seperator"></span>
          <span class="nav-el" id="nav-data"><a href="#/data">Data</a></span>
          <span class="nav-seperator"></span>
          <span class="nav-el" id="create-dashboard">New Dashboard</span>
        </span>
      </nav>
    </header>
    <div id="app">
      <section id="index">
        <div class="logged-out">
          <h3>You need to be logged in to use the ZooTools Dashboard.</h3>
        </div>
        <div class="logged-in">
          <h3>ZooTools is place to organizae and visualize data from Zooniverse Projects</h3>
          <p>Dashboards are collections of data sources and visualization tools that allow to gather data, manipulate it, display it, and share your creations with other Zooniverse users.</p>
          <p>To get started follow the instructions below.</p>
          <div class="no-project">
            <p>Each Dashboard is tied to a Zooniverse project. The type of project determines what tools and data sources will be available to use within your Dashboard.</p>
            <label class="large">Select a Project to start creating your dashboard:
              <select class="project">
                <option value=""></option>
                <option value="serengeti">Snapshot Serengeti</option>
                <option value="galaxy_zoo">Galaxy Zoo</option>
                <option value="galaxy_zoo_starburst">Galaxy Zoo Quench</option>
                <option value="spacewarp">SpaceWarps</option>
              </select>
            </label>
          </div>
          <div class="project-selected">
            <p>Great you're making a dashboard for <span class="name"></span>.</p>
            <label>Give your dashboard a name: <input type="text" id="dashboard-name" placeholder="My Interesting Dashboard"></label>
            <p>You can also choose to load some data into your dashboard to get started.<p>
            <label>Choose one of your talk collections: <select class="talk-collections"><option value="">No Data Please</option></select></label>
            <p> or </p>
            <label>Load a data from <span class="name"></span>'s Science Team: <select class="zoo-data-collections"><option value="">No Data Please</option></select></label>
            <button class="btn" id="create-dashboard">Create Dashboard</button>
          </div>
        </div>
      </section>
      <section id="dashboard">
        <div class="layouts">
          <label>Layout: </label>
          <ul>
            <li><button class="btn">Row</button></li>
            <li><button class="btn">Tiled</button></li>
            <li><button class="btn">Tree</button></li>
            <li><button class="btn">Freeform</button></li>
          </ul>
          <label>Zoom: </label>
          <ul>
            <li><button class="btn">+</button></li>
            <li><button class="btn">-</button></li>
            <li><button class="btn">Focus</button></li>
          </ul>
        </div>
        <div class="bottom drawer data"></div>
        <div class="bottom drawer tools"></div>
        <div class="left drawer tools"></div>
      </section>
      <section id="saved" class="toggled-layout">
        <div class="section-header">
          <h2><span class="name"></span> Dashboards</h2>
          <div class="layouts">
            <label>Layout: </label>
            <ul>
              <li><button class="btn" data-type="list">List</button></li>
              <li><button class="btn" data-type="tiled">Tiled</button></li>
            </ul>
          </div>
        </div>
        <div class="logged-out">
          <h3>You need to be logged in to view Saved Dashboards.</h3>
        </div>
        <div class="logged-in">
          <div class="list-container"></div>
        </div>
      </section>
      <section id="data" class="toggled-layout">
        <div class="section-header">
          <h2><span class="name"></span> Data</h2>
          <div class="layouts">
            <label>Layout: </label>
            <ul>
              <li><button data-type="list" class="btn">List</button></li>
              <li><button data-type="tiled" class="btn">Tiled</button></li>
            </ul>
          </div>
        </div>
        <div class="logged-out">
          <h3>You need to be logged in to view your Data.</h3>
        </div>
        <div class="logged-in">
          <div class="list-container"></div>
        </div>
      </section>
    </div>

    <!-- REMOVE IN BUILD PROCESS -->
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="/bower_components/backbone-associations/backbone-associations.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/d3/d3.js"></script>
    <script src="/vendor/base64.js"></script>
    <script src="/vendor/zooniverse-2013-6-20-14-35-16.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/models.js"></script>
    <script src="/js/collections.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/init.js" onload="initialize();"></script>
    <!-- END REMOVE -->
  </body>
</html>