.tool-window {
  position: absolute;
  display: inline-block;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 13px #444;
}
.tool-window .title-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #b0b0b0;
  width: inherit;
  z-index: 2;
}
.tool-window .title-bar input {
  display: none;
}
.tool-window .settings {
  width: 200px;
  height: 100%;
  position: absolute;
  border-left: 1px solid #f3f3f3;
  display: none;
  z-index: 1;
}
.tool-window .tool-container {
  width: inherit;
  height: 100%;
  z-index: 1;
  padding: 5px;
  position: absolute;
  left: 0;
}
.tool-window.settings-active .settings {
  display: inline-block;
}
.tool-window.settings-active .tool-container {
  left: 200px;
}
.toolbox {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 80px;
  border-top: 1px solid #f3f3f3;
  width: 100%;
}
.toolbox .tool-icon {
  height: inherit;
  display: inline-block;
  float: left;
}
.toolbox .remove-tools {
  height: inherit;
  display: inline-block;
  float: right;
}
.settings .data-settings .external-settings {
  display: none;
}
.settings .data-settings .internal-settings {
  display: none;
}
.settings .data-settings button {
  display: none;
}
